@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins:wght@200&display=swap');


body {
    font-family: 'Oxygen', sans-serif;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgb(82, 70, 70) 10px double;
    height: 200px;
    font-weight: 600;
    background-color: black;
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 2;
}


/*link whatsapp*/
.botonWhatsApp img {
    width: 70px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}


/*imagen de fondo inicio*/

.fondo {
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    background-color: black;
}

.fondo ::before {
    background: url(../img/lima.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.1;
}

.fondo p {
    color: white;
    isolation: isolate;
    line-height: 2;
}