/*body*/
* {
    margin: 0;
    padding: 0;
}


/*imagen de fondo inicio*/

.fondo {
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    background-color: black;
}

.fondo ::before {
    background: url(../img/lima.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.1;
}

.fondo p {
    color: white;
    isolation: isolate;
    line-height: 2;
}

/*Carousel*/

.imgCarousel {
    width: 60%;
    height: 60%;
}

p {
    color: $parrafo;
}


/* Scroll Personalizado */

body::-webkit-scrollbar {
    width: 10px;
    background: #000000;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .2);
    border-radius: 5px;
    border-right: 3px solid #107220;
}