/*mixin con parametros*/

@mixin liMixin($size, $alineacion, $texto) {
    font-size: $size;
    text-align: $alineacion;
    text-transform: $texto;

}

.liEstilo {
    @include liMixin(12px, center, uppercase);
}


@mixin redesMixin($w, $h) {
    width: $w ;
    height: $h;
}


.redesEstilo {
    @include redesMixin(60px, 60px);
}



/*mixin sin parametros*/

@mixin bodyMixin {
    background-color: black;
    font-family: 'Oxygen', sans-serif;
}

.bodyEstilo {
    @include bodyMixin;

}